.paragraphe1er{
  font-weight: bold;
}

p{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
  color: #1e0a0b;
  text-align: center;




}

/* LIENS CUSTOMISE*/

a:link, a:visited {
  background-color: #10172f;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2em;

}

a:hover, a:active {
  background-color: #620103;

}
/* CORPS */
body{
  max-width: 90%;
  margin: auto;
  font-size: 18px;

}
html {
  background: url(/img/7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
  

}


/*
.tm-img1{
    float: left;
    clear: both;
}

.tm-img2{
    float: left;
    clear: both;
}

.tm-img3{
float: left;
}
*/


/* CITATIONS */
blockquote{
  width: 600px;
  margin: 0 auto;
  font-size: 160%;
  font-style: oblique;
  background-color: rgba(169,169,169, 0.1);
  border-left: 3px solid #620103;
  padding-left: 30px;
  margin-top:80px;
  margin-bottom: 80px;
/*
  float: left;
*/

}
/* Citation 1 et 2*/
#quote1{
  width: 600px;
  margin: auto;
  font-size: 160%;
  font-style: oblique;
  background-color: rgba(169,169,169, 0.1);
  border-left: 3px solid #620103;
  padding: 50px;
  padding-left: 30px;
  margin-top:80px;
  margin-bottom: 80px;
  display: block;
}
/*
  float: right;
*/



/*
 .clearfix{
     overflow: auto;
 }
 */

#quote2{

  font-size: 160%;
  font-style: oblique;
  margin: 35%;
  background-color: rgba(169,169,169, 0.1);
  border-left: 3px solid #620103;
  padding: 50px;
  padding-left: 30px;
  margin-top:80px;
  margin-bottom: 80px;
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center;

}
/* TABLE */

table{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

}
/* CORPS */

.container{
    position: relative;
}

header, footer, h1, h2, h3{

  text-align: center;
  color: #620103;
}


/*
.tm-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 100%;
}
*/


/* ID's */
#bienetmal{
  text-transform: uppercase;
}

/* Liste avec image doigt haut bas chat */
#li1::after{
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("https://github.com/becodeorg/BXLCentral/blob/master/Projects/3-progressive-enhancement/bien.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;

}

#li2::after{
   content: "";
   width: 20px;
   height: 20px;
   display: inline-block;
   background-image: url("https://github.com/becodeorg/BXLCentral/blob/master/Projects/3-progressive-enhancement/mal.png?raw=true");
   background-size: contain;
   background-repeat: no-repeat;

}

#li3::after{
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("https://github.com/becodeorg/BXLCentral/blob/master/Projects/3-progressive-enhancement/chat.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;

}

/* Classes */
.fermier{
  border-left: 3px solid white;

}

.Villageois{
  border-left: 3px solid darkgray;

}

.bienvert{
  color: green;
}

.malrouge{
  color: red;
}

.tablegrise{
  background-color: gray;
}

.tableblanche{
  background-color: white;
}
